node_modules
/dist
/src/main/resources/generatorConfig.xml
/src/libs/util.js
######################
# Eclipse
######################
*.pydevproject
.project
.metadata
tmp/
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
.classpath
.settings/
.loadpath
.factorypath
*.zip
######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig
classes/

######################
# Maven
######################
/log/
/target/